body {
    overflow: hidden;
}

.canvas {
    position: absolute;
    width: 2048px;
    height: 2048px;

    &__viewport {
        position: absolute;
    }

    &__connections {
        width: 2048px;
        height: 2048px;
    }
}
