.behavior-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4E6EB;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;

    &__handle {
        position: absolute;
        bottom: 0;
        background-color: #3A3B3C;
        width: 80%;
        height: 20px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        &:hover {
            background-color: #425a73;
            box-shadow: rgba(105, 187, 200, 0.619) 0px 7px 29px 0px;
        }
    }
}
