.behavior-card {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: grab;
    user-select: none;

    &--grabbing {
        cursor: grabbing;
    }

    &__background {
        background-color: #e7e8ec;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -100;
        border-radius: 8px;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    &__parent-handle {
        position: absolute;
        top: 0;
        background-color: #3A3B3C;
        width: 30%;
        height: 20px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        pointer-events: all;
        cursor: pointer;

        &--connected, &:hover {
            background-color: #717342;
            box-shadow: rgba(170, 200, 105, 0.619) 0px 7px 29px 0px;
        }

        &--connected:hover {
            background-color: #a6a93b;
            box-shadow: rgba(225, 241, 103, 0.619) 0px 7px 29px 0px;
        }
    }

    &__children-handle {
        position: absolute;
        bottom: 0;
        background-color: #3A3B3C;
        width: 80%;
        height: 20px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        pointer-events: all;
        cursor: pointer;

        &--connected, &:hover {
            background-color: #425a73;
            box-shadow: rgba(105, 187, 200, 0.619) 0px 7px 29px 0px;
        }

        &--connected:hover {
            background-color: #5689be;
            box-shadow: rgba(50, 217, 243, 0.619) 0px 7px 29px 0px;
        }
    }
}
